@model Pharmacy.Models.Entities.Venta

@{
    ViewData["Title"] = "Registrar Venta";
}

<h1 style="color: #1199EE;">Realizar Venta</h1>

<p>Datos de Cliente</p>
<div style="display: flex;flex-direction: row;">
    <label>Nombres</label><input type="text"/>
    <label>DNI</label><input type="text"/>
    <label>Direccion</label><input type="text"/>
    <label>Telefono</label><input type="text"/>
</div><br>
<button id="btn_abrir_modal_cco" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#Modal_Prd">Seleccione Producto </button>                           
<div class="modal" id="Modal_Prd">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ms-5">Listado de Productos</h4>
                <input id="busqueda_ayuda_cco" class="form-control light-table-filter" data-table="order-table-cco" type="text" placeholder="Filtrar.." style="width:380px;" />
            </div>
            <div class="modal-body" style="cursor:pointer">
                <table class="table table-bordered ms-4 table-hover order-table-cco">
                    <tr class="table-primary">
                        <th>Codigo</th>
                        <th>Descripcion</th>
                    </tr>
                    @await Component.InvokeAsync("AyudaCentroCosto")
                </table>
            </div>
            <div class="modal-footer">
                <button id="btn_cerrar_modal_cco" type="button" class="btn btn-danger" data-bs-dismiss="modal">Retornar</button>
            </div>
        </div>
    </div>
</div>
<br />

<div>
    <table>
        <thead>
            <tr></tr>
        </thead>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
